<div class="container my-5">
  <div class="row">
    <div class="text-center">
      <h3 class="title">
        会員情報編集
      </h3>
    </div>
  </div>
  
  <% if @customer.errors.any? %>
    <h3>
    <%= @customer.errors.count %>errors prohibited this obj from being saved:
    </h3>
      <ul>
        <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>
  
  <div class="row mt-5">
    <div class="col-sm-12 col-md-8 px-5 px-sm-0 mr-auto">
      <%= form_with model: @customer, url: customer_path(@customer), method: :patch do |f| %>
        <table class='table table-borderless'>
          <tr>
            <th>氏名</th>
            <th>
              <%= f.text_field :last_name, placeholder: "性", class: "form-control customer_last_name" %>
            </th>
            <th>
              <%= f.text_field :first_name, placeholder: "名", class: "form-control customer_first_name" %>
            </th>
          </tr>
          <tr>
            <th>フリガナ</th>
            <th>
              <%= f.text_field :last_name_kana, placeholder: "カナ性", class: "form-control customer_last_name_kana" %>
            </th>
            <th>
              <%= f.text_field :first_name_kana, placeholder: "カナ名", class: "form-control customer_first_name_kana" %>
            </th>
          </tr>
          <tr>
            <th>郵便番号</th>
            <th>
              <%= f.text_field :postal_code, placeholder: "郵便番号", class: "form-control customer_postal_code" %>
            </th>
          </tr>
          <tr>
            <th>住所</th>
            <th>
              <%= f.text_field :address, placeholder: "住所", class: "form-control customer_address" %>
            </th>
          </tr>
          <tr>
            <th>電話番号</th>
            <th>
              <%= f.text_field :phone_number, placeholder: "電話番号", class: "form-control customer_phone_number" %>
            </th>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <th>
              <%= f.text_field :email, placeholder: "メールアドレス", class: "form-control customer_email" %>
            </th>
          </tr>
        </table>
        <div class="container my-5">
          <div class="row">
            <div class="form-inline col-3">
            </div>
            <div class="form-inline col-3">
              <%= f.submit '編集内容を保存', class: "btn btn-success" %>
            </div>
            <div class="form-inline col-3">
              <a class="btn btn-danger" data-method="get" href="<%= confirm_withdraw_customers_path(id: @customer.id) %>">退会する</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>