<div class="admin-sign-in">
  <div class="admin-sign-in-title">
    <h5>管理者ログイン</h5>
  </div>

  <div class="admin-sign-in-table">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table>
        <tr class="admin-sign-in-field">
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, size: 50, autocomplete: "email", class: "textlines-radius" %></td>
        </tr>

        <tr class="admin-sign-in-field">
          <td><%= f.label :パスワード %></td>
          <td><%= f.password_field :password, autocomplete: "current-password", size: 50, class: "textlines-radius" %></td>
        </tr>

        <tr class="admin-sign-in-actions">
          <td></td>
          <td><%= f.submit "ログイン", class: "btn btn-primary col-4" %></td>
        </tr>
      </table>
    <% end %>
  </div>

  <%= render "admin/shared/links" %>

</div>