<div class="admin-sign-in">
  <div class="admin-sign-in-title">
    <h5>管理者ログイン</h5>
  </div>

  <div class="admin-sign-in-table">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <table class="table">
          <div class="field">
            <tr>
              <td><%= f.label :メールアドレス %></td>
              <td><%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email" %></td>
            </tr>
          </div>

          <div class="field">
            <tr>
              <td><%= f.label :パスワード %></td>
              <td><%= f.password_field :password, autocomplete: "current-password" %></td>
            </tr>
          </div>

          <div class="actions">
            <td><%= f.submit "ログイン", class: "btn btn-primary" %></td>
          </div>
        </table>
      <% end %>
    </div>
      <%= render "admin/shared/links" %>

    </div>
  </div>
</div>