<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 px-5 px-sm-0 mx-auto">
      <h1>会員一覧</h1>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>
                <strong>会員ID</strong>
              </th>
              <th>
                <strong>氏名</strong>
              </th>
              <th>
                <strong>メールアドレス</strong>
              </th>
              <th>
                <strong>ステータス</strong>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.id %></td>
                <td>
                  <a href="<%= admin_customer_path(customer) %>"><%= customer.last_name %><%= customer.first_name %></a>
                </td>
                <td><%= customer.email %></td>
                <td>
                  <% if customer.status === false %>
                    有効
                  <% else %>
                    退会
                  <% end %>
                </td>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>