<div class="container my-5">
  <div class="row">
    <div class="text-center">
      <h4 class="table-active text-center px-3">
        <%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細
      </h4>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-8 px-5 px-sm-0 mr-auto">
      <%= form_with model: @customer, url: admin_customer_path(@customer), method: :GET do |f| %>
        <table class="table table-borderless table-sm table-hover col-sm-12 col-md-8 px-5 px-sm-0 mr-auto">
          <tr>
              <th>会員ID</th>
              <th><%= @customer.id %></th>
          </tr>
          <tr>
              <th>氏名</th>
              <th><%= @customer.last_name %><%= @customer.first_name %></th>
          </tr>
          <tr>
              <th>カナ</th>
              <th><%= @customer.last_name_kana %><%= @customer.first_name_kana %></th>
          </tr>
          <tr>
              <th>郵便番号</th>
              <th><%= @customer.postal_code %></th>
          </tr>
          <tr>
              <th>住所</th>
              <th><%= @customer.address %></th>
          </tr>
          <tr>
              <th>電話番号</th>
              <th><%= @customer.phone_number %></th>
          </tr>
          <tr>
              <th>メールアドレス</th>
              <th><%= @customer.email %></th>
          </tr>
          <tr>
              <th>会員ステータス</th>
              <th>
                <% if @customer.status === false %>
                  <strong class="text-success">有効</strong>
                <% else %>
                  退会
                <% end %>
              </th>
          </tr>
        </table>
      <% end %>
      <div class="container my-5">
        <div class="row">
          <div class="form-inline col-3">
          </div>
          <div class="form-inline col-3">
            <a class="btn btn-sm btn-success" data-method="get" href="<%= edit_admin_customer_path %>">編集する</a>
          </div>
          <div class="form-inline col-3">
            <a class="btn btn-sm btn-primary" data-method="get" href="<%= admin_orders_path %>">注文履歴一覧をみる</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>