<div class="container my-5">
  <div class="row">
    <div class="text-center">
      <h4 class="table-active text-center px-3">
        注文履歴詳細
      </h4>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-9">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="table-active text">購入者</td>
            <td class="light-text">
              <%= link_to @order.name, admin_customer_path(@order.customer), class: "text-dark" %>
            </td>
          </tr>
          <tr>
            <td class="table-active text">注文日</td>
            <td class="light-text"><%= @order.created_at.strftime('%Y年/%m月/%d日') %></td>
          </tr>
          <tr>
            <td class="table-active text">配送先</td>
            <td class="light-text">
              〒<%= @order.postal_code %><br>
                <%= @order.address %><br>
                <%= @order.name %> 様
            </td>
          </tr>
          <tr>
            <td class="table-active text">支払方法</td>
            <td class="light-text"><%= @order.payment %></td>
          </tr>
          <tr>
            <td class="table-active text">注文ステータス</td>
            <td class="light-text">
              <%= form_with model: @order, url: admin_order_path(@order), local: true,method: :patch do |f| %>
                <%= f.select :status, [["入金待ち", "入金待ち"], ["入金確認","入金確認"],["製作中","製作中"],["発送準備中","発送準備中"],["発送済み","発送済み"]], class: "form-control" %>
                <%= f.submit "更新", class: "btn btn-primary btn-sm" %>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-9">
      <table class="table table-borderless table-hover">
        <thead class="table-active">
          <tr class="text">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_lists.each do |order_list| %>
            <tr class="light-text">
              <td><%= order_list.item.item_name %></td>
              <td><%= order_list.item_price %></td>
              <td><%= order_list.quantity %></td>
              <td><%= order_list.item_price * order_list.quantity %></td>
              <td>
                <%= form_with model: order_list, url: admin_order_path(@order), local: true, method: :patch do |f| %>
                  <%= f.select :production_status, [["着手不可", "着手不可"], ["製作待ち","製作待ち"],["製作中","製作中"],["製作完了","製作完了"]], class: "form-control" %>
                　<%= f.submit "更新", class: "btn btn-primary btn-sm" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-3">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="table-active text">商品合計</td>
            <td class="light-text">
            <%= @order.invoice - @order.shipping_fee %>
            </td>
          <tr>
            <td class="table-active text">送料</td>
            <td class="light-text"><%= @order.shipping_fee %></td>
          </tr>
          <tr>
            <td class="table-active text">請求合計金額</td>
            <td class="light-text"><%= @order.invoice %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>