<div class="genre-new">
  <h5>ジャンル一覧・追加</h5>

  <%= form_with model: [:admin, @genre] do |f| %>
    <table>
      <tr>
        <td class="genre-form-group">
          <b><%= f.label :ジャンル名 %></b>
        </td>
        <td class="genre-form-group">
          <%= f.text_field :name, placeholder: "ジャンル名", class: "textlines" %>
        </td>
        <td class="genre-form-group">
          <%= f.submit '新規登録', class: "btn btn-success" %>
       </td>
      </tr>
    </table>
  <% end %>
</div>

<div class="genre-index-nav">
  <div class="genre-index-title">
    ジャンル
  </div>

  <div class="genre-nav-box">
      <table>
    <% @genres.each do |genre| %>
        <tr class="genre-box-list">
          <td class="genre-box-name"><%= genre.name %></td>
          <td class="genre-box-link"><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-sm btn-success" %></td>
          <td class="genre-box-link"><%= link_to "削除する", admin_genre_path(genre.id), method: :delete, class: "btn btn-sm btn-danger" %></td>
        </tr>
    <% end %>
      </table>
  </div>
</div>