<div class="genre-new">
  <div class="row">
    <div class="offset-1 text-center">
      <h4 class="table-active text-center px-3">
        ジャンル一覧・追加
      </h4>
    </div>
  </div>

  <%= form_with model: [:admin, @genre] do |f| %>
    <div class="row my-5">
      <div class="genre-form-group col-1">
        <b><%= f.label :ジャンル名 %></b>
      </div>
      <div class="genre-form-group col-2">
        <%= f.text_field :name, placeholder: "ジャンル名", class: "textlines" %>
      </div>
      <div class="genre-form-group col-2">
        <%= f.submit '新規登録', class: "btn btn-success btn-block" %>
      </div>
    </div>
  <% end %>
</div>

<div class="genre-index-nav">
  <div class="genre-index-title">
    ジャンル
  </div>

  <div class="genre-nav-box">
    <table>
      <% @genres.each do |genre| %>
        <tr class="genre-box-list">
          <td class="genre-box-name"><%= genre.name %></td>
          <td class="genre-box-link"><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-sm btn-success" %></td>
          <td class="genre-box-link"><%= link_to "削除する", admin_genre_path(genre.id), method: :delete, class: "btn btn-sm btn-danger" %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>