<div class="container my-5">

  <div class="row">
    <div class="offset-1 text-center">
      <h3 class="text title-text">
        注文履歴一覧
      </h3>
    </div>
  </div>
  <div class="row mt-5">
    <table class="table table-bordered table-hover">
      <thead class="table-active text">
        <tr>
          <th>注文日</th>
          <th>配送先</th>
          <th>注文商品</th>
          <th>支払金額</th>
          <th>ステータス</th>
          <th>注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
        <tr class="light-text">
          <td><%= order.created_at.strftime('%Y年/%m月/%d日') %></td>
          <td>
              〒<%= order.postal_code %><br>
              <%= order.address %><br>
              <%= order.name %> 様
          </td>
          <td>
            <% order.order_lists.each do |f| %>
              <%= f.item.name %><br>
            <% end %>
          </td>
          <td><%= order.invoice %></td>
          <td><%= order.status %></td>
          <td>
            <%= link_to "表示する", order_path(order), class: "btn btn-success col-10" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>