<div class="public-session">
  <div class="public-session-title">
    <h5>ログイン</h5>
  </div>

  <div class="public-session-form">
    <h6>会員の方はこちらからログイン</h6>

    <div class="public-session-table">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table>
        <tr class="public-session-field">
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, placeholder: "sample@example.com", autofocus: true, autocomplete: "email", size: 50, class: "textlines-radius" %></td>
        </tr>

        <tr class="public-session-field">
          <td><%= f.label :パスワード %></td>
          <td><%= f.password_field :password, autocomplete: "current-password", size: 50, class: "textlines-radius" %></td>
        </tr>

        <tr class="public-session-actions">
          <td></td>
          <td><%= f.submit "ログイン", class: "btn btn-primary col-4" %></td>
        </tr>
      </table>
    <% end %>
    </div>

    <%= render "public/shared/links" %>

  </div>
</div>