<div class="container">
  <div class="row">
    <div class="col-lg-2 col-md-3 col-sm-3 col-3 mt-5">
      <%= render "public/items/genres_sidebar", genres: @genres %>
    </div>

    <div class="col-lg-3 col-sm-5 col-5 mt-5">
      <%= image_tag @item.image, size: "200x150" %>
    </div>

    <div class="col-lg-5 col-sm-4 col-4 mt-5 ">
      <table>
        <tr>
          <th><%= @item.item_name %></th>
        </tr>
        <tr>
          <td><%= @item.item_introduction %></td>
        </tr>
        <tr>
          <td>
            ￥<%= ((@item.tax_excluded_price.to_i*1.1).round).to_s(:delimited) %>(税込)
          </td>
        </tr>
      </table>
      <%= form_with model: @additem, url: cart_items_path do |f| %>

      <%= f.hidden_field :item_id, :value => params[:id] %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>

      <%= f.select :quantity, [1,2,3,4,5,6,7,8,9,10] %>

      <%= f.submit "カートに入れる", class:"btn btn-success btn-md" %>
      <% end %>