<header class= "table-warning">
  <nav class="navbar navbar-expand-lg navbar-dark py-4 bg-warning">
    <div class="container">
      <div class="navbar-brand">
        <span class="text-dark">
          <% if admin_signed_in? %>
            <%= link_to "ながの Cake", admin_orders_path, class:"fa-solid fa-cake-candles text-dark" %>
          <% else %>
            <%= link_to "ながの Cake", root_path, class:"fa-solid fa-cake-candles text-dark" %>
          <% end %>
        </span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto navbar-inline">
        <% if customer_signed_in? %>

          <li class="ml-3 col-lg-3 col-md-1">
            <div class="border border-dark text-center">
              <a data-method="get" href="<%= customer_path(current_customer) %>" class="text-dark">
                マイページ
              </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= items_path %>" class="text-dark">
                商品一覧
              </a>
            </div>
          </li>
          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= cart_items_path %>" class="text-dark">
                カート
              </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
                <a data-method="delete" href="<%= destroy_customer_session_path %>" class="text-dark">
                    ログアウト
                </a>
            </div>
          </li>

        <% elsif admin_signed_in? %>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= admin_items_path %>" class="text-dark">
                商品一覧
              </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= admin_customers_path %>" class="text-dark">
                会員一覧
              </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= admin_orders_path %>" class="text-dark">
                注文履歴一覧
              </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= admin_genres_path %>" class="text-dark">
                ジャンル一覧
              </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
                <a data-method="delete" href="<%= destroy_admin_session_path %>" class="text-dark">
                    ログアウト
                </a>
            </div>
          </li>

        <% else %>
          <li class="ml-3 col-lg-3 col-md-1">
            <div class="border border-dark text-center">
              <a href="<%= about_path %>" class="text-dark">
              About
            </div>
          </li>
          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= items_path %>" class="text-dark">
                商品一覧
              </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
                <a data-method="get" href="<%= new_customer_registration_path %>" class="text-dark">
                    新規登録
                </a>
            </div>
          </li>

          <li class="ml-3  col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
                <a data-method="get" href="<%= new_customer_session_path %>" class="text-dark">
                    ログイン
                </a>
            </div>
          </li>

        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>