
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light border border-dark">
    <div class="container">
      <div class="navbar-brand">
        <span class="border border-dark tex-dark">
          <%= link_to "LOGO", root_path %>
        </span>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto navbar-inline">
        <% if customer_signed_in? %>

          <li class="ml-3 col-lg-3 col-md-1">
            <div class="border border-dark text-center">
                <a data-method="get" href="<%= customer_path(current_customer) %>">
                    マイページ
                </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= items_path %>">
                商品一覧
              </a>
            </div>
          </li>
          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= cart_items_path %>">
                カート
              </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a data-method="delete" href="<%= destroy_customer_session_path %>">
                ログアウト
              </a>
            </div>
          </li>

        <% elsif admin_signed_in? %>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= admin_path %>">
                商品一覧
              </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= admin_customers_path %>">
                会員一覧
              </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= admin_orders_path %>">
                注文履歴一覧
              </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= admin_genres_path %>">
                ジャンル一覧
              </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a data-method="delete" href="<%= destroy_admin_session_path %>">
                ログアウト
              </a>
            </div>
          </li>

        <% else %>
          <li class="ml-3 col-lg-3 col-md-1">
            <div class="border border-dark text-center">
              <a href="<%= about_path %>">
                About
              </a>
            </div>
          </li>
          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a href="<%= items_path%>">
                商品一覧
              </a>
            </div>
          </li>

          <li class="ml-3 col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a data-method="get" href="<%= new_customer_registration_path %>">
                新規登録
              </a>
            </div>
          </li>

          <li class="ml-3  col-lg-3 col-md-1 text-center">
            <div class="border border-dark">
              <a data-method="get" href="<%= new_customer_session_path %>">
                ログイン
              </a>
            </div>
          </li>

        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>